<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ksj.today_is">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Today_is">
        <activity
            android:name=".main_time_fragment_dialog"
            android:exported="false"/>
        <activity
            android:name=".add_todo"
            android:exported="false"/>
        <activity
            android:name=".date_dialog"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Chart"
            android:exported="false" />
        <activity
            android:name=".Charyt"
            android:exported="false" />
        <activity
            android:name=".Diary"
            android:exported="false" />
        <activity
            android:name=".Memo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>